<% @articles.each do |article| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= render partial: 'header', locals: { article: article } %>
    </div>
    <div class="panel-body">
      <%= truncate(article.body, length: 500) %>
      
    </div>
  </div>  
        
     
<% end %>
