  <div class="panel panel-default">
    <div class="panel-heading">
      <%= render partial: 'header', locals: { article: @article } %>
    </div>
    <div class="panel-body">
      <%= @article.body %>

    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= render partial: 'comments/form', locals: { article: @article, comment: Comment.new } %>
  </div>

    <%= render partial: "comments/comment", collection: @article.comments %>

</div>
